body {
  background-color:#FFFAF0));
;
  font-family:HiraKakuProN-W6;
}
#contents {
  margin-top:54px;
}
.content {
  width:280px;
  margin:20px 8px;
}

h1 {
	margin-top:32px;
	font-size:14pt;
}
h2 {
	font-size:12pt;
}
div {
	font-size:10pt;
}
img {
	border: 0px;
	margin:8px;
}

@charset "UTF-8";
